body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

#beacon-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 80%;
}

.slider-container {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}

.values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.amount-of-loss, .return-to-break-even, .years-to-break-even {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.amount-of-loss::before {
    content: "Amount of Loss: ";
    font-weight: bold;
}

.return-to-break-even::before {
    content: "Return to Break Even: ";
    font-weight: bold;
}

.years-to-break-even::before {
    content: "Years to Break Even: ";
    font-weight: bold;
}
